<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}New Year's resolutions{% endblock %}</title>
	{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Resolutions/style.css' %}" />
</head>
<body>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	<!--Header-->
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="{% url 'Resolutions:index' %} ">New Year's resolutions</a>
		</div>
	<!--Items-->
	<div class="collapse navbar-collapse" id="topNavBar">
		<ul class="nav navbar-nav">
			<li class="{% block albums_active %}{% endblock %}">
				<a href="{% url 'Resolutions:index' %}" >Resolutions Title</a>
			</li>
			<li class="">
				<a href="#" >Resolutions Description</a>
			</li>
		</ul>

		<form class="navbar-form navbar-left" role="search" method="get" action="#">
			<div class="form-group">
				<input type="text" class="form-control" name="q" value="">
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		
		<ul class="nav navbar-nav navbar-right">
			<li class="">
				<a href="{% url 'Resolutions: create_resolution' %}" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Add Resolution</span>
				</a>
			</li>
			<li class="">
				 <a href="{% url 'Resolutions : logout_user' %}" >
					<span class="glyphicon glyphicon-off" aria-hidden="true">&nbsp;Log out</span>
				</a>
			</li>
		</ul>

	</div>
</nav>

{% block body %}

{% endblock %}
</body>
</html>