{% extends 'Resolutions/base.html' %}
{% block title %} Resolution description{% endblock %}

{% block body %}


	<h3 class="text-center">{{resolution.resolutionTitle}} Description</h3>
	{% if error_message %}
		<p><strong>{{error_message}}</strong></p>
	{% endif %}
	<div class="container">
    	<ul class="list-group">	
		{% for description in resolution.resoldescription_set.all  %}
			<li class="list-group-item clearfix">
				{{description}}
					<span class="pull-right button-group">
                		<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                		<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            		</span>
			</li>
		
		{% endfor %}	
		</ul>
	</div>
{% endblock %}

