
{% extends 'Resolutions/base.html' %}
{% block albums_active %}active{% endblock %}

	{% block body %}

	<div class="row">
        <div class="col-sm-12 text-center">
            <h3>Here are all your New Year's resolutions:{{ user.username }}'s Albums</h3>
        </div>
	{% if resolutions %}
			<div class="container">
				<ul class="list-group">
				{% for resolution in resolutions %}
					<li class="list-group-item clearfix">
						<a href="{% url 'Resolutions:index' %}">{{ resolution.resolutionTitle }}</a>
							<span class="pull-right button-group">
               					 
								<form action="{% url "Resolutions:resolution-delete" resolution.id %}" method="post" style="display: inline;">
									{% csrf_token %}
									<input type="hidden" name="resolution_id" value="{{resolution.id}}" />
								    <button type="submit"  class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button> 	
								</form>
               					
            				</span>
					</li>
				{% endfor %}
			</ul>
	{% else %}
		<h3 class="col-sm-12 text-center">You don't have any resolutions</h3>
	{% endif %}
{% endblock %}

