{% extends 'Resolutions/base.html' %}
{% block title %} Register{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="col-sm-12 com-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
				<h3>Create a new account</h3>
					<form class="form-horizontal" action="" method="post">
						{% csrf_token %}
						{% include 'Resolutions/form-template.html' %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div> 
		</div>
	</div>
{% endblock %}